// Login
// ===


.t-login {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}


// Registration
// ---

.t-login__register-fieldset {
    &:not(:first-of-type) {
        margin-top: $unit*4;
    }
}


// Subscribe Radio button
// ---
//
// 1. Adjust style so user will see selected style on button
// 2. Remove laggy transiton
// 3. Show and remove icon

.t-login__subscribe-radio-button {
    position: relative; // 1

    // Label Button style
    label {
        min-width: $tap-size;
        min-height: $tap-size;

        color: $brand-color;
        font-size: $font-size + 1;
        letter-spacing: 1px;

        .pw-icon {
            display: none; // 3
        }

        > div {
            width: 100%;
            min-width: $tap-size;
            min-height: $tap-size;
            border: 1px solid $brand-color;
        }
    }

    // Style radio in the button
    [type="radio"] {
        position: absolute; // 1

        width: 100%; // 1
        height: 100%; // 1
        border: 0; // 1

        border-radius: 0; // 1
        background: transparent; // 1

        &:active {
            background: transparent; // 1
        }

        &:checked {
            content: none; // 1

            background: transparent; // 1

            &::after {
                content: none; // 1
            }

            + label {
                background-color: $brand-color;

                color: $neutral-00;

                .pw-icon {
                    display: block; // 3
                }

                &:active {
                    color: $neutral-00;
                }
            }
        }
    }
}
