@import '../../styles/component-base';

// Footer
// ===


// Root
// ---

.t-footer {
    //
}


// Navigation
// ---

.t-footer__navigation {
    background-color: $brand-color;

    color: $neutral-00;
}


// Navigation Link
// ---

.t-footer__navigation-link {
    display: inline-block;
    margin-right: $unit;
    margin-left: $unit;
    padding-bottom: $unit;

    color: $neutral-00;
    font-size: $small-font-size;
}
