@import '../../component-base';

// Carousel Theme
// ===
//
// - You may use the `amp-carousel` element selector to style it freely.
// - You may use the ``.amp-carousel-slide` class selector to target carousel items.
// - The visual state of an `amp-carousel` button when it's disabled is hidden.
// - By default, ``.amp-carousel-button` uses an inlined SVG as the background-image of the buttons. You may override this with your own SVG or image as in the example below.

.a-carousel {
    // Carousel Button: built-in class
    // ---
    .amp-carousel-button {
        width: $tap-size;
        height: 100%;

        background-color: transparent;
        background-size: 12px 12px;

        &.a-disabled {
            visibility: visible;
            opacity: 0.3;
        }
    }

    // Carousel Button Prev: built-in class
    // ---
    .amp-carousel-button-prev {
        left: 0;

        background-image: url('/static/svg/chevron-left.svg');
    }

    // Carousel Button Next: built-in class
    // ---
    .amp-carousel-button-next {
        right: 0;

        background-image: url('/static/svg/chevron-right.svg');
    }
}


// Carousel Modifier: Frame
// ---

.a-carousel.a--frame {
    .a-carousel__inner {
        background: $neutral-00;
        box-shadow: $box-shadow;
    }

    .a-image {
        padding: $unit*3;
    }
}


// Carousel Controls
// ---
//
// 1. Hide the carousel slide numbers from being displayed

.a-carousel__controls {
    margin-bottom: $unit * 1.5;
    padding-top: $unit * 1.5;
}

.a-carousel__pips {
    display: flex;
    justify-content: center;
}

.a-carousel__pip {
    width: 6px;
    height: 6px;
    margin-right: 6px;

    background-color: $neutral-30;

    color: transparent; // 1
    font: 0/0 a; // 1

    &:last-of-type {
        margin-right: 0;
    }
}
